<nav [ngClass]="'navbar navbar-expand-lg nav-fill'">
    <ul [ngClass]="'navbar-nav mr-auto'">
        <li [ngClass]="'nav-item'">
            <img src="assets/icon.png" />
            <span>Whiteboard</span>
        </li>
        <li [ngClass]="'nav-item link-nav-item'">
            <a [ngClass]="'back-link'" href="/courses">
                <span>My Courses</span>
            </a>
        </li>
    </ul>
</nav>

<div>
    <h1 [ngClass]="'quiz-title'">{{title}}</h1>
</div>

<ul>
    <li [ngClass]="'questions-list'" *ngFor="let question of questions">
        <div [ngSwitch]="question.type">
            <app-mcquestion [question]="question" *ngSwitchCase="'MULTIPLE_CHOICE'">
            </app-mcquestion>
            <app-tfquestion [question]="question" *ngSwitchCase="'TRUE_FALSE'"></app-tfquestion>
        </div>
    </li>
</ul>