<nav [ngClass]="'navbar navbar-expand-lg nav-fill'">
    <ul [ngClass]="'navbar-nav mr-auto'">
        <li [ngClass]="'nav-item'">
            <img src="assets/icon.png" />
            <span>Whiteboard</span>
        </li>
        <li [ngClass]="'nav-item link-nav-item'">
            <a [ngClass]="'back-link'" href="/courses">
                <span>My Courses</span>
            </a>
        </li>
    </ul>
</nav>

<div>
    <h1 [ngClass]="'course-viewer-title'">{{course.title}}</h1>
</div>

<div class="row">
    <div class="col-4">
        <app-module-list></app-module-list>
    </div>
    <div class="col-8">
        <app-lesson-tabs></app-lesson-tabs>
    </div>
</div>