<!-- Quiz Question -->
<h3 class="question-title">
    {{question.question}}
    <i class="fa" [ngClass]="{
        'fa-check': answer === question.correct && grading,
        'fa-times': answer !== question.correct && grading}">
    </i>
</h3>

<!-- True False options -->
<ul class="list-group">
    <label>
        <li class="list-group-item" [ngClass]="{
        'list-group-item-success':
            (answer === question.correct && grading && answer === 'true') ||
            (answer !== question.correct && grading && answer === 'false'),
         'list-group-item-danger':
            answer !== question.correct && grading && answer === 'true'
      }">
            <input type="radio" value="true" [(ngModel)]="answer" name="{{question._id}}" />
            True
            <i class="fa" [ngClass]="{
          'fa-check':
              (answer === question.correct && grading && answer === 'true')
              || (answer !== question.correct && grading && answer === 'false'),
          'fa-times':
              answer !== question.correct && grading && answer === 'true'
        }"></i>
        </li>
    </label>
</ul>
<ul class="list-group">
    <label>
        <li class="list-group-item" [ngClass]="{
        'list-group-item-success':
            (answer === question.correct && grading && answer === 'false')
            || (answer !== question.correct && grading && answer === 'true'),
         'list-group-item-danger':
            answer !== question.correct && grading && answer === 'false'
      }">
            <input type="radio" value="false" [(ngModel)]="answer" name="{{question._id}}" />
            False
            <i class="fa" [ngClass]="{
          'fa-check':
              (answer === question.correct && grading && answer === 'false')
              || (answer !== question.correct && grading && answer === 'true'),
          'fa-times':
              answer !== question.correct && grading && answer === 'false'
        }"></i>
        </li>
    </label>
</ul>

<br />
<b class="ya">Your answer:</b>
<br />
<b class="ya">{{answer}}</b>
<br />
<br />
<button class="btn btn-success" (click)="grade()">
    Grade
</button>