a {
    text-decoration: none;
}

.selected {
    background-color: rgba(3, 12, 84, 0.8) !important;
}
  
.selected a {
    color: white !important;
}

.module-list {
    list-style-type: none;
    margin:  10px 20px;
    padding: 10px;
    background: white;
    color: rgba(3, 12, 84, 0.8);
    border-radius: 10px;
}

.module-link {
    color: rgba(3, 12, 84, 0.8);
}