<nav [ngClass]="'navbar navbar-expand-lg nav-fill'">
    <img src="assets/icon.png" />
    <span>Whiteboard</span>
</nav>

<div>
    <h1 [ngClass]="'course-list-title'">{{title}}</h1>
</div>

<ul>
    <li [ngClass]="'course-list'" *ngFor="let course of courses">
        <a [ngClass]="'course-link'" href="course/{{course._id}}">
            {{course.title}}
        </a>
        <a class="float-right" [ngClass]="'quizzes-link'" href="course/{{course._id}}/quizzes">
            Quizzes
        </a>
    </li>
</ul>