.navbar {
    background-color: rgba(3, 12, 84, 0.8);
    border-radius: 10px;
    color: white;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

.quizzes-title {
    margin: 10px 20px;
    color: rgba(3, 12, 84, 0.8);
    text-align: center;
}

.quizzes-list {
    list-style-type: none;
    margin:  10px 20px;
    padding: 10px;
    background: white;
    color: rgba(3, 12, 84, 0.8);
    border-radius: 10px;
    font-size: 130%;
}

.quiz-link {
    color: rgba(3, 12, 84, 0.8);
}

.start-link {
    color: white;
}

.start-btn {
    background-color: rgba(195, 15, 15, 1);
	color: white;
	outline-color: rgba(195, 15, 15, 1);
	box-shadow: none;
	border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
}