<nav [ngClass]="'navbar navbar-expand-lg nav-fill'">
    <img src="assets/icon.png" />
    <span>Whiteboard</span>
</nav>

<div>
    <h1 [ngClass]="'quizzes-title'">{{title}}</h1>
</div>

<ul>
    <li [ngClass]="'quizzes-list'" *ngFor="let quiz of quizzes">
        <a [ngClass]="'quiz-link'" routerLink="course/{{courseId}}/quizzes/{{quiz._id}}">
            {{quiz.title}}
        </a>
        <button class="btn start-btn float-right">
            <a class="start-link" routerLink="course/{{courseId}}/quizzes/{{quiz._id}}">
                Start
            </a>
        </button>
    </li>
</ul>